.profile {
  padding: 1rem;
  color: rgb(105, 105, 103);
}
.img__holder {
  border-radius: 100%;
  border-radius: 100%;
  img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    object-fit: contain;
  }
}
.profile__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  .info__row {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    span {
      display: flex;
      align-items: center;
      flex-basis: 32%;
      font-size: 16px;
    }
  }
}
